#review{
    position: relative;
    background: white;
    width: calc(100% - 40px);
    height: 245px;
    border: 1px solid #dddddd;
    margin: 20px;
}
#review span{
    position: absolute;
    font-size: 16px;
    top: 20px;
    left: 20px;
    margin: 0;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
}
#star{
    position: absolute;
    top: 22px;
    left: 208px;
    margin-left: 0;
}
#star img{
    margin-left: 6px;
    width: 15px;
    height: 15px;
}

#script{
    width: 287px;
    position: absolute;
    left: 20px;
    top: 49px;
    margin: 0 auto;
    font-size: 14px;
    color: #777777;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
}
#photo{
    overflow: hidden;
    position: relative;
    top: 106px;
    display: flex;
    height: 119px;
    margin-bottom: 18px;
}
#photo img{
    margin-left: 20px;
    width: 119px;
    height: 119px;
}